<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partial/head.ejs")%>
    <title><%-title-%></title>
</head>
<body>
    <%-include('../partial/nav.ejs')%>
   <div class="container mt-4">
    <h1>Hello and Welcome to Chetu India about page!</h1>
   </div>
    
</body>
</html>