<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("../partial/head.ejs")%>
  <title><%-  title -%></title>
</head>

<body>
  <%-include('../partial/nav.ejs')%>
  <div class="container mt-4">
    <h1>Hello and Welcome to Chetu India home page!</h1>
    <a href="/download">Download File</a>
  </div>

</body>

</html>